In [1]:
import akshare as ak
import pandas as pd

c:\Users\28217\AppData\Local\Programs\Python\Python37\lib\site-packages\akshare\__init__.py:2457: UserWarning: 为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本
  warnings.warn("为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本")

In [12]:
df = ak.stock_zh_index_daily(symbol='sh000001')
df.rename(columns={'date':'trade_date'},inplace=True)
df.set_index('trade_date',inplace=True)
df.index = pd.to_datetime(df.index)
#data  = data[['close']]
#data['ret'] = data['close'].pct_change()*100
df = df.loc['20080101':]

In [13]:
# Z分数标准化
df['Z_close'] = (df['close']-df['close'].rolling(252).mean())/df['close'].rolling(252).std()
df['Z_open'] = (df['open']-df['close'].rolling(252).mean())/df['close'].rolling(252).std()
df['Z_high'] = (df['high']-df['close'].rolling(252).mean())/df['close'].rolling(252).std()
df['Z_low'] = (df['low']-df['close'].rolling(252).mean())/df['close'].rolling(252).std()

In [14]:
df

,open,high,low,close,volume,Z_close,Z_open,Z_high,Z_low
trade_date,,,,,,,,,
2013-01-04,2289.510,2296.113,2256.560,2276.992,13946993600,NaN,NaN,NaN,NaN
2013-01-07,2271.663,2293.317,2266.862,2285.364,11816281600,NaN,NaN,NaN,NaN
2013-01-08,2284.654,2289.139,2262.979,2276.070,12290788000,NaN,NaN,NaN,NaN
2013-01-09,2271.299,2283.896,2259.051,2275.340,12201492800,NaN,NaN,NaN,NaN
2013-01-10,2274.377,2295.484,2268.648,2283.658,12006667200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-06-12,3225.305,3239.437,3210.714,3228.834,31378444400,0.126347,0.092189,0.228976,-0.049041
2023-06-13,3223.896,3235.085,3215.499,3233.673,28062845400,0.171232,0.076584,0.184901,-0.004705
2023-06-14,3238.119,3248.461,3226.774,3228.989,30353726000,0.124606,0.212995,0.313118,0.103162
2023-06-15,3230.451,3252.975,3229.145,3252.975,31325575200,0.356118,0.138097,0.356118,0.125456
2023-06-16,3256.299,3276.552,3255.499,3273.334,32628184600,0.551702,0.386892,0.582835,0.379152

In [15]:
df_train = df.loc[:'20180402']
df_test = df.loc['20180403':]

df_train.to_csv('train.csv')
df_test.to_csv('test.csv')